.greyHeader {
	height: 40px;
	padding: 20px 0 0 10px !important;
	background-color: #f5f5f5 !important;
	border-radius: 0.428rem 0.428rem 0 0;

	.containerTabPanel {
		border: 1.5px solid #dddddd;
		border-radius: 0.428rem;
		margin: 0 10px;
	}
}