.search {
	height: 110px;

	.searchTitle {
		font-size: 13px;
		font-weight: 800;
	}

	.css-13cymwt-control {
		height: 28px !important;
		font-family: 'Open Sans', sans-serif !important;
	}

	.css-qbdosj-Input {
		padding: 0 !important;
		margin: 0 !important;
	}

	.css-1dimb5e-singleValue {
		color: rgba(0, 0, 0, 0.5) !important;
	}

	.css-1nmdiq5-menu {
		font-size: 13px !important;
		font-weight: 600 !important;
	}
}