@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap');

:root {
	--first-color: #ca85a9;
	--second-color: #dec5d2;
	--unit: 1rem;
}

html, body, #root, .App {
	height: 100%;
}

.App {
	font-family: 'Open Sans', sans-serif !important;
	color: var(--primary-color);
	color: rgba(0, 0, 0, 0.5);

	a {
		text-decoration: none;
		color: rgba(0, 0, 0, 0.5);
		font-family: 'Open Sans', sans-serif !important;
	}

	button {
		background-color: transparent;
		border: none;
		padding: 0;
		padding-block: 0;
		padding-inline: 0;
		outline: none !important;
		font-family: 'Open Sans', sans-serif !important;
		color: rgba(0, 0, 0, 0.5) !important;
		cursor: pointer;
	}

	tr:hover {
		background-color: #f9f9f9;
	}

	ul {
		margin-block-start: 0;
		margin-block-end: 0;
		padding-inline-start: 0;

		li {
			list-style-type: none !important;
		}
	}

	.popup {
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		position: fixed;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 8;
	}

	.thIconGreen {
		width: 30px;
		height: 30px;
		color: #28c76f;
	}

	.thIconRed {
		width: 30px;
		height: 30px;
		color: #ff0000;
	}

	.thIconNew {
		width: 30px;
		height: 30px;
		color: rgb(252, 225, 2);
	}

	.input {
		padding: 4px 5px;
		outline: none;
		height: 28px;
		border-color: hsl(0, 0%, 80%);
		border-radius: 4px;
		border-style: solid;
		border-width: 1px;
		color: rgba(0, 0, 0, 0.5);
		font-weight: 600;
		font-family: 'Open Sans', sans-serif !important;

		&:hover {
			border-color: hsl(0, 0%, 70%);
		}

		&:focus {
			outline: #2684ff !important;
			border-color: #2684ff !important;
			border-width: 2px;
		}
	}

	.textarea {
		padding: 4px 5px;
		outline: none;
		height: 160px;
		border-color: hsl(0, 0%, 80%);
		border-radius: 4px;
		border-style: solid;
		border-width: 1px;
		color: rgba(0, 0, 0, 0.5);
		font-weight: 600;
		font-family: 'Open Sans', sans-serif !important;

		&:hover {
			border-color: hsl(0, 0%, 70%);
		}

		&:focus {
			outline: #2684ff !important;
			border-color: #2684ff !important;
			border-width: 2px;
		}
	}

	.btn {
		color: rgba(0, 0, 0, 0.5);
		font-size: 13px;
		font-weight: 600;
		height: 38px;
		width: 7%;
		border-color: hsl(0, 0%, 80%);
		border-radius: 4px;
		border-style: solid;
		border-width: 1px;

		&:hover {
			background-color: #2684ff;
			color: white !important;
		}
	}

	.btnAdd {
		background-color: #1fbad6;
		color: white !important;
		font-size: 13px;
		font-weight: 600;
		height: 38px;
		width: 10%;
		border-radius: 0.428rem;

		.colorW {
			color: white !important;
		}
	}

	.btnEdit {
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 0.428rem;
		font-size: 13px;
		color: black !important;
		height: 38px;
		width: 45%;

		&:hover {
			background-color: #f6f6f6;
		}
	}

	.iconPopup {
		width: 25px;
		height: 25px;
		color: rgba(0, 0, 0, 0.75);
	}

	.photoEditProfile {
		background-color: #5e0ab7;
		width: 200px;
		height: 250px;
	}

	.imgEditFile {
		width: 200px;
		height: 300px;
	}

	.mb-5 {
		margin-bottom: 5px;
	}

	.mb-10 {
		margin-bottom: 10px;
	}

	.mb-20 {
		margin-bottom: 20px;
	}

	.mb-30 {
		margin-bottom: 30px;
	}

	.mb-50 {
		margin-bottom: 50px;
	}

	.mr-10 {
		margin-right: 10px;
	}

	.mr-30 {
		margin-right: 30px;
	}

	.ml-30 {
		margin-left: 30px;
	}

	.ml-15 {
		margin-left: 15px;
	}

	.ml-10 {
		margin-left: 10px;
	}

	.mt-5 {
		margin-top: 5px;
	}

	.mt-10 {
		margin-top: 10px;
	}

	.mt-20 {
		margin-top: 20px;
	}

	.mt-40 {
		margin-top: 40px;
	}

	.margin15 {
		margin: 15px;
	}

	.padding20 {
		padding: 20px;
	}

	.padding15 {
		padding: 15px;
	}

	.padding10 {
		padding: 10px;
	}

	.padding5 {
		padding: 5px;
	}

	.padding-left10 {
		padding-left: 10px;
	}

	.d-flex {
		display: flex;
	}

	.align-center {
		align-items: center;
	}

	.align-start {
		align-items: start;
	}

	.align-end {
		align-items: end;
	}

	.justify-center {
		justify-content: center;
	}

	.justify-start {
		justify-content: start;
	}

	.justify-end {
		justify-content: end;
	}

	.justify-between {
		justify-content: space-between;
	}

	.align-content-between {
		flex-flow: row wrap;
		align-content: space-between;
	}

	.column {
		display: flex;
		flex-direction: column;
	}

	.row {
		display: flex;
		flex-direction: row;
	}

	.text-center {
		text-align: center;
	}

	.text-start {
		text-align: start;
	}

	.h1 {
		font-weight: 800;
		font-size: 2.8em;
	}

	.h2 {
		font-weight: 600;
		font-size: 2.2em;
	}

	.h3 {
		font-weight: 600;
		font-size: 1.3em;
	}

	.h4 {
		font-size: 1em;
	}

	.weight-600 {
		font-weight: 600;
	}

	.font-size14 {
		font-size: 14px;
	}

	.colorBlack {
		color: black;
	}

	.containerContent {
		box-shadow: 0 2px 10px 0 rgba(34, 41, 47, 0.2);
		background-color: #fff;
		border-radius: 0.428rem;
		margin-top: 0;
		margin-bottom: 20px;
		position: relative;
	}

	.containerIn {
		border: 1.5px solid #dddddd;
		border-radius: 0.428rem;
	}

	.greyTitle {
		padding: 10px;
		background-color: #f5f5f5;
		border-radius: 0.428rem 0.428rem 0 0;
	}

	.titleAdmin {
		padding-bottom: 10px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.5);
		color: #4f4f4f;
	}

	.react-tabs__tab--selected {
		text-align: center !important;
		cursor: pointer;
		outline: none !important;
		width: 120px !important;
		padding: 10px !important;
		background-color: white !important;
		font-size: 14px !important;
		border-radius: 0.428rem 0.428rem 0 0 !important;
		border-left: 1px solid #dddddd !important;
		border-right: 1px solid #dddddd !important;
		border-top: 1px solid #dddddd !important;
		border-bottom: 1px solid white !important;
		color: rgba(0, 0, 0) !important;
	}

	.react-tabs__tab {
		text-align: center !important;
		cursor: pointer;
		outline: none !important;
		width: 120px !important;
		padding: 10px !important;
		font-size: 14px !important;
		color: #2684ff;
	}

	.react-tabs__tab-panel--selected {
		width: 100%;

		padding: 10px
	}

	.selector-actions {
		width: 16%;

		.css-1fdsijx-ValueContainer {
			font-size: 13px !important;
			font-weight: 600 !important;
			color: rgba(0, 0, 0, 0.5) !important;
		}
	}

	.css-qbdosj-Input,
	.css-1dimb5e-singleValue {
		font-family: 'Open Sans', sans-serif !important;
		font-size: 13px !important;
		font-weight: 600 !important;
		color: rgba(0, 0, 0, 0.5) !important;
	}

	.selector-large {
		width: 20%;

		.css-1fdsijx-ValueContainer {
			font-family: 'Open Sans', sans-serif !important;
			font-size: 13px !important;
			font-weight: 600 !important;
			color: rgba(0, 0, 0, 0.5) !important;
		}
	}

	.selector-small {
		width: 12%;

		.css-1fdsijx-ValueContainer {
			font-family: 'Open Sans', sans-serif !important;
			font-size: 13px !important;
			font-weight: 600 !important;
			color: rgba(0, 0, 0, 0.5) !important;
		}
	}

	.widthInputEdit {
		width: 98.2%;
	}

	.width-100 {
		width: 100%;
	}

	.width-95 {
		width: 95%;
	}

	.width-85 {
		width: 85%;
	}

	.width-80 {
		width: 80%;
	}

	.width-70 {
		width: 70%;
	}

	.width-65 {
		width: 65%;
	}

	.width-60 {
		width: 60%;
	}

	.width-55 {
		width: 55%;
	}

	.width-50 {
		width: 49.5%;
	}

	.width-49 {
		width: 49%;
	}

	.width-46 {
		width: 46.5%;
	}

	.width-45 {
		width: 43%;
	}

	.width-40 {
		width: 40%;
	}

	.width-35 {
		width: 35%;
	}

	.width-30 {
		width: 30%;
	}

	.width-23 {
		width: 23%;
	}

	.width-20 {
		width: 20%;
	}

	.width-15 {
		width: 15%;
	}

	.width-10 {
		width: 10% !important;
	}

	.width-5 {
		width: 5%;
	}

	.border-top {
		border-top: 1px solid rgba(0, 0, 0, 0.2);
	}

	.border-left {
		border-left: 1px solid rgba(0, 0, 0, 0.2);
	}

	.border-circle {
		border: 1px solid rgba(0, 0, 0, 0.2);
	}

	.parent {
		position: relative;
		height: 250px;
	}

	.absolut {
		position: absolute;
	}

	.lineParent {
		position: relative;
		height: 100px;
	}

	.border-bottom {
		border-bottom: 1.5px solid #dddddd;
	}

	.border-top {
		border-top: 1.5px solid #dddddd;
	}

	.boldTextEdit {
		color: black;
		font-size: 14px;
		font-weight: 600;
	}

	.red-star {
		margin-left: 3px;
		color: #ff0000;
		font-size: 14px;
		font-weight: 800;
	}

	.noData {
		border: 1px solid rgba(0, 0, 0, 0.2);
		background-color: #848484;
		color: black;
	}

	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}

	input[type='number'],
	input[type="number"]:hover,
	input[type="number"]:focus {
		appearance: none;
		-moz-appearance: textfield;
	}

	.loader {
		position: fixed;
		display: flex;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		align-items: center;
		justify-content: center;
	}

	.btnSettings1 {
		margin-left: 10px !important;
		width: 15%;
		border-radius: 0.428rem;
		background-color: #428bca !important;
		font-size: 14px;
		color: white !important;
		font-weight: 600 !important;
		padding: 10px 20px;

		&:hover {
			background-color: #10477a !important;
		}
	}
}
